html, body, * {
    /*font-family: 'Open Sans', sans-serif;*/
    font: 400 16px/28px "Oswald", sans-serif;

    margin: 0px;
    font-size: 13px;
}

html {
    height: 100%;

}

body {
    background: #224455;
}
.content{
    padding: 10px;
}

.main_logo {
    color: #fff;
    border-bottom: 2px solid #082228;
    padding: 10px;
    font-size: 24px;
}

.header_right{
    line-height: 24px;
    padding: 10px;
}

h3 {
    display: block;
    color: #717171;
    font-size: 14px;
    border-bottom: 1px solid #aaa;
    margin: 4px;
}

a {
    color: #0f85cc;
    font-size: 12px;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.block {
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background: #eee;
    min-width: 300px;
}
.server_params{
    border: 1px solid #fff;
    margin: 1px;
    padding: 4px;
    background: #ddd;
}
.server_param{
    color: #0f85cc;
    min-width: 80px;
}

.server_param, .server_param_value{
    display: inline-flex;
}
#command{
    height: 80px;
    background: #555555;
    margin: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    border: 1px solid #444;
    color: #02ff36;
    min-width: 320px;
}

#console_command {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    cursor: pointer;
    border-radius: 6px;
    background: #eee;
    color: #0f85cc;
    font-size: 16px;
    border: 1px solid #555;
    min-width: 70px;
    margin: 4px;

}

#command_result {
    font-family: 'Open Sans', sans-serif;
    height: 260px;
    background: #555555;
    margin: 4px;
    border: 1px solid #444;
    padding: 7px;
    box-sizing: border-box;
    color: #02ff36;
    overflow: scroll;
}

.used_commands{
    border-bottom: 1px solid #ffd78a;
    margin-top: 8px;
    margin-bottom: 8px;
}

.used_command {
    margin: 4px;
    font-size: 12px;
    font-weight: bold;
    color: #ffd78a;
    background: #404040;
    display: inline-block;
    padding: 3px;
    letter-spacing: 1px;
    min-width: 40px;
    text-align: center;
    max-width: 200px;
    cursor: pointer;
}

.file-block {
    background: #eeecec;
    font-size: 12px;
    padding: 1px;
    padding-left: 3px;
    margin: 2px;
    border-bottom: 1px solid #c6c6c6;
    cursor: pointer;
}

.current_path {
    font-weight: bold;
    color: #0f85cc;
}

.blue_text {
    color: #0f85cc;
}

.file_name, .file_size, .file_preview{
    display: inline-block;
}
.file_name{
    width: 200px;
}
.file_size{
    width: 60px;
}
.file_preview{
    width: 40px;
}

#preview_content {
}

#preview_content_block {
    border: 1px solid #ddd;
    margin: 10px auto;
    min-height: 250px;
    width: 100%;
    padding: 6px;
    color: #257;
    font-size: 12px;
}

.button_link {
    padding: 5px;
    border-radius: 3px;
    background: #37a803;
    color: #fff;
    font-size: 12px;
    border: 1px solid #fff;
    margin: 0px;
    display: block;
    width: 90px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.button_link:hover {
    text-decoration: none;
    background: #fff;
    color: #37a803;
    border: 1px solid #37a803;
}

.footer {
    line-height: 24px;
    padding: 10px;
}
.info {
    color: #fff;
}

.file_control_panel {
    margin-top: 10px;
    padding: 6px;
    background: #c6c6c6;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #acacac;
    border-left: 1px solid #acacac;
    border-right: 1px solid #fff;
}
.make_text_file {

}
.click_button{
    cursor: pointer;
    width: 24px;
    text-align: center;
    vertical-align: auto;
    display: inline-block;
    background: rgba(255,255,255,1);
    padding: 5px;
    height: 24px;
    border: 1px solid #fff;
}

.click_button:hover{
    background: rgba(255,255,255,0.5);
}

#new_filename_form {
    display: none;
    width: 100%;
    padding: 5px;
    height: 40px;
    border: 1px solid #fff;
}

#new_filename_input {
    width: 280px;
}

.form_inline_button {
    padding: 5px;
    border-radius: 3px;
    background: #37a803;
    color: #fff;
    font-size: 12px;
    border: 1px solid #fff;
    margin: 5px;
    display: block;
    width: 90px;
    text-align: center;
    font-weight: bold;
}